.fancyResult td, .fancyResult  th {
	border-width: 0px 1px 1px 1px;
	background-color: #eef2f9;
	box-shadow: 0 0 0 1px #fff inset;
	-webkit-box-shadow: 0 0 0 1px #fff inset;
	-moz-box-shadow: 0 0 0 1px #fff inset;
}
.fancyResult {
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.fancyResult tbody tr:hover td{
    background-color: #d5ff00;
    color: #000000;
    padding: 2px 6px 2px 6px;
    cursor: pointer;
}
.fancyResult tbody tr.odd:hover td {
    background-color: #d5ff00;
    color: #000000;
    padding: 2px 6px 2px 6px;
    cursor: pointer;
}
.fancyResult tbody tr.even:hover td {
    background-color: #d5ff00;
    color: #000000;
    padding: 2px 6px 2px 6px;
    cursor: pointer;
}
.fancyResult tbody tr td {
	background-color: #fff9f1;
	font-size: 10px;
	padding: 2px 6px 2px 6px;
	color: #000000;
    cursor: pointer;
}
.fancyResult tbody tr.odd td {
	font-size: 10px;
	background-color: #fff9f1;
	padding: 2px 6px 2px 6px;
	color: #000000;
    cursor: pointer;
}
.fancyResult tbody tr.even td {
	font-size: 10px;
	background-color: #fff9f1;
	padding: 2px 6px 2px 6px;
	color: #000000;
    cursor: pointer;
}

.fancyResult thead tr th,
.fancyResult thead tr td,
.fancyResult tfoot tr th, 
.fancyResult tfoot tr td {
	background-color: #222324;
	border: 1px solid #222324;
	font-size: 10px;
	font-weight: bold;
	border-collapse: separate;
	padding: 6px 8px 3px 6px;
	color: #ffffff;
    cursor: pointer;
    background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
}

.fancyResult thead tr {
  width: 100%;
  display: block;
  position: relative;
}
.fancyResult tbody {
  display: block;
  overflow:scroll;
  overflow-x: hidden;
  width: 100%;
  height: 320px;
  background-color: #fffdf9;
}